body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.radio-group input {
    font-size: 0.9rem;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav {
    padding-left: 1%;
    border-bottom: solid 2px lightgray;
    width: 100%;
}


nav section{
    padding: 10px;
    display: flex;
}
form {
    background-color: #ffffff;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*
form > label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
*/

form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

form label {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 10px;
    flex: 1; 
}

form input {
    flex: 2; 
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    border: 2px solid lightgray;
}

form input:focus {
    outline: none;
}

button {
    float: inline-end;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer; 
    background-color: transparent;
}

a {             
    cursor: pointer;
}

li {
    margin-inline: 2%;
}
li:focus,
li:hover {
    list-style-type: '> ';
}

button:focus::before,
button:hover::before {
    content: '>';
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #007bff;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}